target
.idea
*.iml
tmp
src/test/resources/Critter.xml
src/test/resources/mybatis.conf.xml
src/main/java/maunakea
src/main/java/oahu
src/main/clojure/waimea
src/main/java/waimea
src/main/java/ranoraraku
*.swp
*.swo
*.log
feed/
html/
.gradle
build/
dist/
cache
classes
